<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net461" />
  <package id="HtmlAgilityPack.CssSelectors" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.902.49" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="RestSharp" version="106.12.0" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.114.4" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net461" />
</packages>